volumes/nodered/data/.flows.json.backup
[{"id":"16cda610.bb439a","type":"tab","label":"Cervecero","disabled":false,"info":""},{"id":"a0ebb6bf.652f78","type":"mqtt-broker","name":"Cervecero MQTT","broker":"mosquitto","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"410f1732.2a4f18","type":"Stackhero-MySQL-Server","name":"","host":"mariadb","port":"3306","tls":false,"database":"cervecero"},{"id":"ef5baefb.a67e9","type":"mqtt in","z":"16cda610.bb439a","name":"Sonda Data Input","topic":"ispindel/#","qos":"0","datatype":"auto","broker":"a0ebb6bf.652f78","x":100,"y":580,"wires":[["d3874c40.34ee5","975eadb7.6ea46"]]},{"id":"975eadb7.6ea46","type":"join","z":"16cda610.bb439a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"{\"id\":\"\",\"tilt\":\"\",\"temperature\":\"\",\"temp_units\":\"\",\"battery\":\"\",\"gravity\":\"\",\"interval\":\"\",\"RSSI\":\"\"}","reduceInitType":"json","reduceFixup":"","x":370,"y":580,"wires":[["8dc230bf.e103b","61b1103f.b45e7"]]},{"id":"8dc230bf.e103b","type":"debug","z":"16cda610.bb439a","name":"After Join","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":460,"wires":[]},{"id":"d3874c40.34ee5","type":"debug","z":"16cda610.bb439a","name":"Entrada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":460,"wires":[]},{"id":"61b1103f.b45e7","type":"function","z":"16cda610.bb439a","name":"Send to BBDD","func":"let id = extractIdSonda(msg.topic);\n\nfunction extractIdSonda(topic){\n    let indexId = topic.indexOf(\"/\");\n    let indexIdFin = topic.lastIndexOf(\"/\");\n    return topic.substring(indexId + 1, indexIdFin);\n}\n\nfunction toDensity(plato) {\n    \n    let gravity = 1+(plato/(258.6-((plato/258.2) *227.1)));\n    gravity *= 1000;\n    gravity = Math.trunc(gravity);\n    \n    return gravity;\n}\n\nlet data = {\n    payload: {\n        id_Sonda: id,\n        tilt: msg.payload[\"ispindel/\"+id+\"/tilt\"],\n        temp: parseFloat(msg.payload[\"ispindel/\"+id+\"/temperature\"]).toFixed(1),\n        temp_Unit: msg.payload[\"ispindel/\"+id+\"/temp_units\"],\n        battery: msg.payload[\"ispindel/\"+id+\"/battery\"],\n        gravity: toDensity(msg.payload[\"ispindel/\"+id+\"/gravity\"]),\n        interval: msg.payload[\"ispindel/\"+id+\"/interval\"],\n        RSSI: msg.payload[\"ispindel/\"+id+\"/RSSI\"],\n        process: 5\n    },\n    topic: 'INSERT INTO sondas_data (id_Sonda, tilt, temp, temp_Unit, battery, gravity, `interval`, RSSI) VALUES (:id_Sonda, :tilt, :temp, :temp_Unit, :battery, :gravity, :interval, :RSSI)'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":580,"wires":[["935a319d.256bd","b1357aa8.b0c1b8","62d2aeea.379c5"]]},{"id":"935a319d.256bd","type":"debug","z":"16cda610.bb439a","name":"After Id Insert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":460,"wires":[]},{"id":"eb4b97b2.cbfba8","type":"mqtt in","z":"16cda610.bb439a","name":"Arduino Data Input","topic":"cervecero/data/#","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":110,"y":180,"wires":[["de0c4b22.6cbbe8","486131b3.db183","839cc14d.8a246"]]},{"id":"de0c4b22.6cbbe8","type":"debug","z":"16cda610.bb439a","name":"Entrada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":120,"wires":[]},{"id":"486131b3.db183","type":"function","z":"16cda610.bb439a","name":"send to BBDD","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_Placa: p.IDplaca,\n        recipe: p.receta,\n        process: p.proceso,\n        processStep: p.pasoProceso,\n        state: p.estado,\n        timeLeft: p.tiempoRestante,\n        percentage: p.porcentaje,\n        temp: p.temp.toFixed(1)\n    },\n    topic: 'INSERT INTO placas_data (id_Placa, receta, proceso, pasoProceso, estado, tiempoRestante, porcentaje, temp) VALUES (:id_Placa, :recipe, :process, :processStep, :state, :timeLeft, :percentage, :temp)'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["c0682935.2d3718","f32208d5.8249a8","4b7a9083.19f5"]]},{"id":"c0682935.2d3718","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"b1357aa8.b0c1b8","type":"function","z":"16cda610.bb439a","name":"Send data to Web","func":"let data = {\n    \n    retain: true,\n    qos: 0,\n    payload: msg.payload,\n    topic: \"webCervecero/sonda/\" + msg.payload.id_Sonda\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":680,"wires":[["36797ea4.874fd2"]]},{"id":"f32208d5.8249a8","type":"function","z":"16cda610.bb439a","name":"Send to Web","func":"let data = {\n    \n    retain: true,\n    qos: 1,\n    payload: msg.payload,\n    topic: \"webCervecero/arduino/\" + msg.payload.id_Placa\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":260,"wires":[["dd2f4c95.e166b"]]},{"id":"c7db3955.3f3b18","type":"mqtt in","z":"16cda610.bb439a","name":"Load Recipe","topic":"user/recipe/load","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":90,"y":1060,"wires":[["c92bf198.ad117","402a4732.dd6c88","d23aff65.48b18","4cbf538d.e25dfc"]]},{"id":"c92bf198.ad117","type":"function","z":"16cda610.bb439a","name":"Carga pasos receta usuario","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_Receta: p.id_Receta,\n        id_User: p.id_User\n    },\n    topic: 'INSERT INTO pasos_Recetas_Users (id_Paso_Receta, id_Receta, id_User) SELECT p.id_Paso_Receta, p.id_Receta, :id_User FROM pasos_Recetas AS p WHERE p.id_Receta = :id_Receta'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1000,"wires":[["1858cd41.0a4f13","a665b3b2.b59e8"]]},{"id":"92528aec.0f7508","type":"mqtt in","z":"16cda610.bb439a","name":"Unload Recipe","topic":"user/recipe/unload","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":100,"y":1200,"wires":[["f1bee9a5.7f2638","d23aff65.48b18","fa745cfe.e6ac6"]]},{"id":"f1bee9a5.7f2638","type":"function","z":"16cda610.bb439a","name":"Limpia pasos recerta usuario","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_User: p.id_User\n    },\n    topic: 'DELETE FROM pasos_Recetas_Users WHERE id_User = :id_User'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1220,"wires":[["1858cd41.0a4f13"]]},{"id":"d23aff65.48b18","type":"function","z":"16cda610.bb439a","name":"Limpia datos Arduino","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_Placa: p.IDplaca\n    },\n    topic: 'DELETE FROM placas_data WHERE id_Placa = :id_Placa'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1140,"wires":[["20d25439.ee67cc"]]},{"id":"839cc14d.8a246","type":"switch","z":"16cda610.bb439a","name":"","property":"payload.estado","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":300,"wires":[["27e533e7.3dcf7c","d23aff65.48b18","4aa87188.6bfe9","10536f43.9583f1","8fbe98ba.e18cb8","da1975a2.59bb58"],["d23aff65.48b18"]]},{"id":"27e533e7.3dcf7c","type":"debug","z":"16cda610.bb439a","name":"Proceso acabado","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":400,"wires":[]},{"id":"7d73125e.6b048c","type":"mqtt in","z":"16cda610.bb439a","name":"Mandar Proceso","topic":"webCervecero/sendProcess","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":120,"y":760,"wires":[["990aa1a5.bfa4c","1e12392a.edd167","3efb1dd3.b8cb32"]]},{"id":"990aa1a5.bfa4c","type":"function","z":"16cda610.bb439a","name":"Send to Cervecero","func":"let p = msg.payload;\nlet topic = msg.topic;\n\nlet data = {\n    payload: {\n        menu: 2,\n        dato1: p.proceso,\n        dato2: p.paso_Proceso\n    },\n    qos: 1,\n    retain: false,\n    topic: 'cervecero/menu/' + p.id_Placa\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":800,"wires":[["b5a2a6b0.24a678","bdb2226e.e93b1"]]},{"id":"6ed8d405.e4c00c","type":"inject","z":"16cda610.bb439a","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"menu/2","payload":"{\"menu\":2,\"dato1\":1,\"dato2\":0}","payloadType":"json","x":130,"y":840,"wires":[["990aa1a5.bfa4c"]]},{"id":"b5a2a6b0.24a678","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":740,"wires":[]},{"id":"402a4732.dd6c88","type":"function","z":"16cda610.bb439a","name":"Cargar Receta Cervecero","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        menu: 1,\n        dato1: p.id_Receta,\n        dato2: 0\n        \n    },\n    qos: 1,\n    retain: false,\n    topic: 'cervecero/menu/' + p.id_Placa\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1060,"wires":[["4b674f77.6a0d7"]]},{"id":"fa745cfe.e6ac6","type":"function","z":"16cda610.bb439a","name":"Cancela proceso cervecero","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        menu: 4,\n        dato1: 0,\n        dato2: 0\n        \n    },\n    qos: 1,\n    retain: false,\n    topic: 'cervecero/menu/' + p.id_Placa\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1280,"wires":[["4b674f77.6a0d7"]]},{"id":"20d25439.ee67cc","type":"delay","z":"16cda610.bb439a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":1140,"wires":[["1858cd41.0a4f13"]]},{"id":"474db4c0.fc0edc","type":"inject","z":"16cda610.bb439a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"{\"IDplaca\":2}","payloadType":"json","x":110,"y":1120,"wires":[["d23aff65.48b18"]]},{"id":"990bdcc9.97d65","type":"function","z":"16cda610.bb439a","name":"","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_User: p.id_User\n    },\n    topic: 'SELECT pru.id_Paso_Receta, pru.id_Receta FROM pasos_Recetas_Users AS pru, pasos_Recetas pr WHERE pr.id_Paso_Receta = pru.id_Paso_Receta AND pr.id_Receta = pru.id_Receta AND id_User = 1 AND id_Estado = 4 AND pr.intervencion = 1;'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":120,"wires":[[]]},{"id":"d1eb077.072cff8","type":"Stackhero-MySQL","z":"16cda610.bb439a","server":"410f1732.2a4f18","name":"","x":1380,"y":300,"wires":[["2abe2381.ca801c"]]},{"id":"42a803e8.a7b8fc","type":"function","z":"16cda610.bb439a","name":"Get id_User","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_Placa: p.id_Placa\n    },\n    topic: 'SELECT u.id_User FROM users AS u, placas AS p WHERE id_Placa = :id_Placa;'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":120,"wires":[[]]},{"id":"1e12392a.edd167","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":740,"wires":[]},{"id":"3efb1dd3.b8cb32","type":"function","z":"16cda610.bb439a","name":"Send to BBDD","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_User: p.id_User,\n        id_Paso_Receta: p.id_Paso_Receta\n    },\n    topic: 'UPDATE pasos_Recetas_Users SET id_Estado = 1 WHERE id_Paso_Receta = :id_Paso_Receta AND id_User = :id_User'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":860,"wires":[["e9eb9bf9.c86d48","6f3dbe8a.5378d"]]},{"id":"a2db5c63.ee09b","type":"mqtt in","z":"16cda610.bb439a","name":"Cancelar Proceso","topic":"webCervecero/cancelProcess","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":850,"y":820,"wires":[["7ac009d5.fcb548","cb11ad80.75972"]]},{"id":"70984ef2.8b553","type":"link in","z":"16cda610.bb439a","name":"MQTT","links":["36797ea4.874fd2","4b674f77.6a0d7","88436965.486988","bdb2226e.e93b1","d4868739.34bcd8","dd2f4c95.e166b","daffab11.c66268"],"x":1255,"y":240,"wires":[["207a3801.331cd8"]]},{"id":"207a3801.331cd8","type":"mqtt out","z":"16cda610.bb439a","name":"MQTT","topic":"","qos":"","retain":"","broker":"a0ebb6bf.652f78","x":1370,"y":240,"wires":[]},{"id":"d4868739.34bcd8","type":"link out","z":"16cda610.bb439a","name":"Send to MQTT","links":["70984ef2.8b553"],"x":1295,"y":780,"wires":[]},{"id":"7ac009d5.fcb548","type":"function","z":"16cda610.bb439a","name":"Send to Cervecero","func":"let p = msg.payload;\nlet data = {\n    payload: {\n        menu: 4,\n        dato1: 0,\n        dato2: 0\n    },\n    qos: 1,\n    retain: false,\n    topic: 'cervecero/menu/' + p.id_Placa\n    \n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":780,"wires":[["d4868739.34bcd8"]]},{"id":"dd2f4c95.e166b","type":"link out","z":"16cda610.bb439a","name":"Send MQTT","links":["70984ef2.8b553"],"x":695,"y":260,"wires":[]},{"id":"bdb2226e.e93b1","type":"link out","z":"16cda610.bb439a","name":"Send MQTT","links":["70984ef2.8b553"],"x":575,"y":800,"wires":[]},{"id":"4b674f77.6a0d7","type":"link out","z":"16cda610.bb439a","name":"Send MQTT","links":["70984ef2.8b553"],"x":555,"y":1060,"wires":[]},{"id":"36797ea4.874fd2","type":"link out","z":"16cda610.bb439a","name":"Send MQTT","links":["70984ef2.8b553"],"x":915,"y":680,"wires":[]},{"id":"7c4e3aa3.e68104","type":"link in","z":"16cda610.bb439a","name":"BBDD","links":["4b7a9083.19f5","62d2aeea.379c5","e9eb9bf9.c86d48","1858cd41.0a4f13","d8a470f6.deb91","31c0fcdb.87f2d4"],"x":1255,"y":300,"wires":[["d1eb077.072cff8"]]},{"id":"4b7a9083.19f5","type":"link out","z":"16cda610.bb439a","name":"Send to BBDD","links":["7c4e3aa3.e68104"],"x":535,"y":180,"wires":[]},{"id":"2abe2381.ca801c","type":"debug","z":"16cda610.bb439a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1570,"y":300,"wires":[]},{"id":"62d2aeea.379c5","type":"link out","z":"16cda610.bb439a","name":"Send to BBDD","links":["7c4e3aa3.e68104"],"x":785,"y":580,"wires":[]},{"id":"e9eb9bf9.c86d48","type":"link out","z":"16cda610.bb439a","name":"Send to BBDD","links":["7c4e3aa3.e68104"],"x":575,"y":860,"wires":[]},{"id":"1858cd41.0a4f13","type":"link out","z":"16cda610.bb439a","name":"Send to BBDD","links":["7c4e3aa3.e68104"],"x":755,"y":1000,"wires":[]},{"id":"cb11ad80.75972","type":"function","z":"16cda610.bb439a","name":"Send to BBDD","func":"let p = msg.payload;\nlet data = {\n    payload: {\n        id_User: p.id_User,\n        id_Paso_Receta: p.id_Paso_Receta,\n    },\n    topic: 'UPDATE pasos_Recetas_Users SET id_Estado = 3 WHERE id_Paso_Receta = :id_Paso_Receta AND id_User = :id_User'\n    \n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":860,"wires":[["d8a470f6.deb91"]]},{"id":"d8a470f6.deb91","type":"link out","z":"16cda610.bb439a","name":"Send to BBDD","links":["7c4e3aa3.e68104"],"x":1295,"y":860,"wires":[]},{"id":"4aa87188.6bfe9","type":"function","z":"16cda610.bb439a","name":"send to BBDD","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_Placa: p.IDplaca,\n    },\n    topic: 'UPDATE pasos_Recetas_Users AS pru SET pru.id_Estado = 2 WHERE pru.id_Paso_Receta = (SELECT pru.id_Paso_Receta FROM users AS u, placas AS p WHERE u.id_User = p.id_User AND pru.id_User = u.id_User AND p.id_Placa = :id_Placa AND pru.id_Estado = 1)'\n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":320,"wires":[["31c0fcdb.87f2d4"]]},{"id":"31c0fcdb.87f2d4","type":"link out","z":"16cda610.bb439a","name":"Send to BBDD","links":["7c4e3aa3.e68104"],"x":1115,"y":320,"wires":[]},{"id":"e4a2e58e.bfa508","type":"inject","z":"16cda610.bb439a","name":"Finish Process","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"IDplaca\":2}","payloadType":"json","x":720,"y":180,"wires":[["4aa87188.6bfe9","8fbe98ba.e18cb8"]]},{"id":"6f3dbe8a.5378d","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":900,"wires":[]},{"id":"a665b3b2.b59e8","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":960,"wires":[]},{"id":"4cbf538d.e25dfc","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":960,"wires":[]},{"id":"10536f43.9583f1","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"8fbe98ba.e18cb8","type":"function","z":"16cda610.bb439a","name":"send to Web","func":"let p = msg.payload;\n\nlet data = {\n    retain: false,\n    qos: 0,\n    payload: 1,\n    topic: 'webCervecero/updateTable/1'\n    \n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":280,"wires":[["daffab11.c66268"]]},{"id":"daffab11.c66268","type":"link out","z":"16cda610.bb439a","name":"Send MQTT","links":["70984ef2.8b553"],"x":1115,"y":280,"wires":[]},{"id":"f57d0981.f007b8","type":"e-mail","z":"16cda610.bb439a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Send email","x":1470,"y":440,"wires":[]},{"id":"2c33ee8.a644f12","type":"function","z":"16cda610.bb439a","name":"Prepare email","func":"let p = msg.payload;\nfunction getProcess(n) {\n    \n    switch (n) {\n        case 1:\n            return \"Maceracion\";\n        case 2:\n            return \"Coccion\";\n        \n    }\n}\nmsg = {\n    \n    topic: \"Proceso finalizado\",\n    to: \"danielubaldelaguia@gmail.com\",\n    payload: \"El proceso \" + getProcess(p.proceso) + \" ha finalizado\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":440,"wires":[["f57d0981.f007b8"]]},{"id":"54426b13.3d4294","type":"inject","z":"16cda610.bb439a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1090,"y":460,"wires":[["2c33ee8.a644f12"]]},{"id":"da1975a2.59bb58","type":"switch","z":"16cda610.bb439a","name":"","property":"payload.proceso","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"2","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":380,"wires":[["2c33ee8.a644f12"]]}]